[Unit]
Description=Okta to Wazuh integration

[Service]
Type=simple
User=oktwah
Group=oktwah
WorkingDirectory=/opt/oktwah/app/
ExecStart=/opt/oktwah/app/env/bin/python /opt/oktwah/app/oktwah.py --conf okta.conf

[Install]
WantedBy=multi-user.target