[Unit]
Description=Okta to Wazuh integration

[Service]
Type=simple
User=oktwah
Group=oktwah
WorkingDirectory=/opt/oktwah/app/
ExecStart=/usr/bin/python3 /opt/oktwah/app/oktwah.py --conf okta.conf

[Install]
WantedBy=multi-user.target